@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body{
    font-size: 28px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    /* <weight>: Use a value from 200 to 800 */
    font-weight: 500;
    font-style: normal;
}
.attribution { font-size: 11px; text-align: center; color: var(--Grayish-Blue);}
.attribution a { color:var(--Light-Cyan) ; }